.btn_jittery {
  -webkit-animation: jittery 6s infinite;
  animation: jittery 6s infinite;
}

.btn_jittery1 {
  animation-delay: var(--random-delay1);
}

.btn_jittery2 {
  animation-delay: var(--random-delay2);
}

.btn_jittery3 {
  animation-delay: var(--random-delay3);
}

.btn_jittery4 {
  animation-delay: var(--random-delay4);
}

.btn_jittery5 {
  animation-delay: var(--random-delay5);
}

@-webkit-keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
