.card {
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* .card:hover {
  filter: blur(2px); /* Размытие контура изображения 
} */

.bg_plant {
  background-image: url("./images/bg_plant_vertical_trspr.png");
}
.bg_living {
  background-image: url("./images/bg_living_house_vertical2_trspr.png");
}

.bg_commercial {
  background-image: url("./images/bg_commercial_vertical_trnspr.png");
}

.bg_design {
  background-image: url("./images/bg_indoor_vertical.png");
}

.bg_hiring {
  background-image: url("./images/bg_hiring_vertical.png");
}

@media (orientation: portrait) {
  .bg_plant {
    background-image: url("./images/bg_industrial_horizontal.png");
  }
  .bg_living {
    background-image: url("./images/bg_living_house_sketch.png");
  }

  .bg_commercial {
    background-image: url("./images/bg_commercial_horizontal.png");
  }

  .bg_design {
    background-image: url("./images/bg_design_horizontal.png");
  }

  .bg_hiring {
    background-image: url("./images/bg_hiring_horizontal.png");
  }
}

.title {
  color: white;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  font-size: 1.3vw;
}

.btn {
  cursor: pointer;
  padding: 0.8rem 1rem 0.7rem 1rem;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #264796;
  border: none;
  border-radius: 15px;
}

@media (orientation: portrait) {
  .title {
    font-size: 3.5vw;
  }

  .btn {
    font-size: 2.5vw;
  }
}

/* .btn:hover {
  background-color: rgb(54, 54, 54);
} */

.btn:focus {
  outline: 1px dashed rgb(17, 100, 253);
  outline-offset: 3px;
}
