.container_header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 70px;
  margin: 10px 0;
}

.header_group {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: space-between; */

  /* gap: 15px; */
}
.logo {
  position: relative;
  height: 50px;
  width: 70px;
  margin-left: 10px;
}

.buttons {
  position: relative;
  display: flex;
}

.btn0 {
  position: relative;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  background: rgba(red, green, blue, 0);
  cursor: pointer;
  font-size: inherit;
  font-weight: light;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}
.btn0:after {
  content: "";
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.btn0:hover,
.btn0:focus {
  color: #f8f8f8;
}

/* Style 1 */
.btn-1:hover,
.btn-1:focus {
  background-color: #264796;
}

.btn0 {
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  color: #666;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
  background-color: #d3d3d3;
}

@media (orientation: portrait) {
  .container_header {
    width: 100%;
    padding: 0 10px;
  }

  .btn0 {
    font-size: 1.5vw;
  }

  .logo {
    width: 50px;
    height: auto;
    margin-left: 0;
  }
}
