@import url(./vendor/normalize.css);
@import url(cards.css);

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container_footer {
  position: relative;
  margin-top: 20px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo {
  height: 50px;
  width: 70px;
  margin: auto;
}
.text_footer {
  text-align: center;
  font-size: 10px;
  color: #585858;
  height: 20px;
  margin: auto;
}
