@import url(./vendor/normalize.css);
@import url(main.css);
@import url(header.css);
@import url(cards.css);
@import url(footer.css);
/* @import url(neumorfics.css); */
@import url(socials.css);

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  /* --font-serif: "Helvetica Neue", sans-serif;
  --font-serif: Arial, sans-serif; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  height: calc(100vh - 100px);
  height: var(--vh, 100vh);
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  /* width: 90vw; */
}

@media only screen and (max-width: 768px) {
  .page {
    position: relative;

    margin: 0;
    /* width: 100vw; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
  }
}

@media (orientation: portrait) {
  .page {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
  }
}
