.page-content {
  position: relative;
  max-width: 1600px;
  display: grid;
  grid-gap: 10px;
  margin: 0 auto;
  height: 80vh;
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (orientation: portrait) {
  .page {
    justify-content: center;
    max-height: 90vh;
  }
  .page-content {
    grid-template-columns: 1fr;
  }
}

.text_footer {
  text-align: center;
  font-size: 10px;
  color: #585858;
  height: 20px;
  margin: auto;
}
