.page-content {
  position: fixed;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

/* .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0 auto; */
/* } */

@media (orientation: portrait) {
  .page-content {
    flex-direction: column;
  }
}
