li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  position: relative;
  display: flex;
}

.btn0 {
  position: relative;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  background: rgba(red, green, blue, 0);
  cursor: pointer;
  font-size: inherit;
  font-weight: light;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}
.btn0:after {
  content: "";
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.btn0:hover,
.btn0:focus {
  color: #f8f8f8;
}

/* Style 1 */
.btn-1:hover,
.btn-1:focus {
  background-color: #313131;
}

.btn0 {
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  color: #666;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
}
