.card {
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 100%;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.picture {
  position: absolute;
  height: 900px;
  width: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center center;
}

/* .picture:hover {
  position: absolute;
  height: 900px;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: "cover";
} */

/* .card:hover {
  filter: blur(2px); /* Размытие контура изображения 
} */

/* .bg_plant1 {
  background: url("../images/bg_industry_vertical.svg") no-repeat left top;
  background-size: cover;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.bg_plant2 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0; 
  mask: url("../images/mask.png");
  mask-size: 3000% 100%;
}

.bg_plant2::before {
  content: "";
  background: url("../images/bg_industry_vertical2.svg") no-repeat left top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

/* .bg_plant2:hover {
  opacity: 1; 
  mask: url("../images/mask.png");
  mask-size: 3000% 100%;
  animation:
    mask-playzero 2s steps(29) forwards,
  } */
/* reverse-playzero 2s steps(29) reverse forwards; */

/* @keyframes mask-playzero {
  from {
    mask-position: 0 0;
  }
  to {
    mask-position: 100% 0;
  }
}

@keyframes reverse-playzero {
  from {
    mask-position: 100% 0;
  }
  to {
    mask-position: 0 0;
  }
} */

.title {
  color: white;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  font-size: 1.15vw;
  font-weight: 700;
  padding: 5px 15px;
  border: solid 2px #ebebeb;
  background-color: rgba(104, 104, 104, 0.61);
  border-radius: 15px;
  max-width: 70%;
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 0.8rem 1rem 0.7rem 1rem;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #264796;
  border: none;
  border-radius: 15px;
}

.button_pointer {
  background-image: url("./images/hand_pointer.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  color: #264796;
  position: absolute;
  right: -5px;
  bottom: -15px;
  transform: rotateZ(-20deg);
  background-color: transparent;
}

@media (orientation: portrait) {
  .title {
    font-size: 3.5vw;
  }

  .btn {
    padding: 0.5rem 0.8rem 0.4rem 0.8rem;
    font-size: 2.5vw;
  }
}
