@import url("../vendor/normalize.css");
@import url("header.css");
@import url("cards.css");
@import url("footer.css");
/* @import url('neumorfics.css'); */
@import url("socials.css");
@import url("buttonCTA.css");
@import url("neonbutton.css");

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  /* --font-serif: "Helvetica Neue", sans-serif;
  --font-serif: Arial, sans-serif; */
  /* --blue: #0077ff; */
  --blue: #74b6fc;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-content {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

/* .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0 auto; */
/* } */

@media (orientation: portrait) {
  .page-content {
    flex-direction: column;
  }
}

.page {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  /* height: calc(100vh - 100px); */
  height: var(--vh, 100vh);
  width: var(--vw, 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .page {
    height: var(--vh, 90vh);
    width: var(--vw, 100vw);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
  }
}

@media (orientation: portrait) {
  .page {
    height: var(--vh, 95vh);
    width: var(--vw, 100vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
