.wrapper {
  position: relative;
  display: inline-flex;
  margin-left: auto;
  margin-right: 0;
}

.icon {
  opacity: 1;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.icon:nth-child(1) {
  color: #0285cc;
  animation: neon1 1.1s ease-in-out infinite alternate;
}

.icon:nth-child(2) {
  color: #0088d1;
  animation: neon2 1.3s ease-in-out infinite alternate;
}

.icon:nth-child(3) {
  color: #c20098;
  animation: neon3 1.15s ease-in-out infinite alternate;
}

.icon:nth-child(4) {
  color: #ff2020;
  animation: neon4 1.4s ease-in-out infinite alternate;
}

.icon:nth-child(5) {
  color: #00aa09;
  animation: neon5 1.2s ease-in-out infinite alternate;
}

.icon:nth-child(1):hover {
  animation: neon1boost 2s ease-in-out infinite alternate;
}

.icon:nth-child(2):hover {
  animation: neon2boost 1.5s ease-in-out infinite alternate;
}

.icon:nth-child(3):hover {
  animation: neon3boost 1.5s ease-in-out infinite alternate;
}

.icon:nth-child(4):hover {
  animation: neon4boost 1.5s ease-in-out infinite alternate;
}

.icon:nth-child(5):hover {
  animation: neon5boost 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 20px #227cad,
      0 0 35px #227cad,
      0 0 40px #227cad,
      0 0 45px #227cad,
      0 0 50px #227cad;
  }
  to {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 10px #fff,
      0 0 10px #0077b5,
      0 0 17px #0077b5,
      0 0 20px #0077b5,
      0 0 25px #0077b5,
      0 0 30px #0077b5;
  }
}

@keyframes neon2 {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 40px #228dff,
      0 0 70px #228dff,
      0 0 40px #228dff,
      0 0 50px #228dff,
      0 0 60px #228dff;
  }
  to {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 10px #fff,
      0 0 10px #228dff,
      0 0 17px #228dff,
      0 0 20px #228dff,
      0 0 25px #228dff,
      0 0 30px #228dff;
  }
}

@keyframes neon3 {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 20px #ff1bf4,
      0 0 35px #ff1bf4,
      0 0 40px #ff1bf4,
      0 0 50px #ff1bf4,
      0 0 60px #ff1bf4;
  }
  to {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 10px #fff,
      0 0 10px #ff1bf4,
      0 0 17px #ff1bf4,
      0 0 20px #ff1bf4,
      0 0 25px #ff1bf4,
      0 0 30px #ff1bf4;
  }
}

@keyframes neon4 {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 20px #ff002b,
      0 0 30px #ff002b,
      0 0 40px #ff002b,
      0 0 45px #ff002b,
      0 0 50px #ff002b;
  }
  to {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 10px #fff,
      0 0 10px #ff002b,
      0 0 17px #ff002b,
      0 0 20px #ff002b,
      0 0 25px #ff002b,
      0 0 30px #ff002b;
  }
}

@keyframes neon5 {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 20px #20ff2b,
      0 0 50px #20ff2b,
      0 0 40px #20ff2b,
      0 0 50px #20ff2b,
      0 0 60px #20ff2b;
  }
  to {
    text-shadow:
      0 0 3px #fff,
      0 0 6px #fff,
      0 0 10px #fff,
      0 0 10px #20ff2b,
      0 0 17px #20ff2b,
      0 0 20px #20ff2b,
      0 0 25px #20ff2b,
      0 0 30px #20ff2b;
  }
}

@media screen and (max-width: 991px) {
  .wrapper .icon {
    /* position: relative; */
    /* border-radius: 50%; */
    padding: 15px;
    margin: 7px;
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}

@media (orientation: portrait) {
  .buttons {
    display: none;
  }

  .wrapper .icon {
    padding: 5px;
    margin: 3px;
    width: 25px;
    height: 25px;
    font-size: 24px;
    line-height: 12px;
  }
  .wrapper {
    gap: 15px;
  }

  @keyframes neon1 {
    from {
      text-shadow:
        0 0 5px #fff,
        0 0 12px #fff,
        0 0 25px #227cad,
        0 0 30px #227cad;
    }
    to {
      text-shadow:
        0 0 3px #fff,
        0 0 6px #fff,
        0 0 10px #fff,
        0 0 10px #0077b5,
        0 0 17px #0077b5,
        0 0 20px #0077b5,
        0 0 25px #0077b5;
    }
  }

  @keyframes neon2 {
    from {
      text-shadow:
        0 0 5px #fff,
        0 0 12px #fff,
        0 0 25px #228dff,
        0 0 30px #228dff;
    }
    to {
      text-shadow:
        0 0 3px #fff,
        0 0 6px #fff,
        0 0 10px #fff,
        0 0 10px #228dff,
        0 0 17px #228dff,
        0 0 20px #228dff,
        0 0 25px #228dff;
    }
  }

  @keyframes neon3 {
    from {
      text-shadow:
        0 0 5px #fff,
        0 0 12px #fff,
        0 0 25px #ff1bf4,
        0 0 30px #ff1bf4;
    }
    to {
      text-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 10px #ff1bf4,
        0 0 17px #ff1bf4,
        0 0 20px #ff1bf4,
        0 0 25px #ff1bf4;
    }
  }

  @keyframes neon4 {
    from {
      text-shadow:
        0 0 5px #fff,
        0 0 12px #fff,
        0 0 20px #ff002b,
        0 0 30px #ff002b;
    }
    to {
      text-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 10px #ff002b,
        0 0 17px #ff002b,
        0 0 20px #ff002b,
        0 0 25px #ff002b;
    }
  }

  @keyframes neon5 {
    from {
      text-shadow:
        0 0 5px #fff,
        0 0 17px #fff,
        0 0 25px #20ff2b,
        0 0 30px #20ff2b;
    }
    to {
      text-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 17px #20ff2b,
        0 0 20px #20ff2b;
    }
  }
}
