$navs-bg: #fff;
$window-width: 270px;
$nav-height: 16px * 3 + 8px; // 3.5 rem

.tapMenu {
  width: $window-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #f1f3f5;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.screen {
  height: 75px;
  width: 100%;
}

*[class^="icon-"] {
  height: 24px;
  width: 24px;
}

.hump {
  width: $window-width / 3;
  left: 0;
  bottom: $nav-height - 2px;
  position: absolute;
  transition: left 300ms ease-out;
  filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.03));

  svg,
  path {
    fill: $navs-bg;
  }
}

.nav {
  background: $navs-bg;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}

.nav-item {
  flex: 1;
  position: relative;
  cursor: pointer;
  height: $nav-height;

  .title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -150%;
    font-size: 12px;
    text-align: center;
    transition: bottom 500ms ease-out;
  }

  *[class^="icon-"] {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: top 500ms ease-out;

    svg,
    path {
      fill: #464748;
    }
  }
}

.nav-item.active {
  .title {
    bottom: 16px;
  }

  *[class^="icon-"] {
    position: absolute;
    top: -8px;

    svg,
    path {
      fill: #fe2158;
    }
  }
}
